#verSuc{
    display: none;
    width: 100%;
    max-width: 100%;
    padding: 0;
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px 40px; 
    padding: 6px 8px;
    background-color: #BBCF4A;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}
